@import "../../themes";
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  background: $color-grey;
  .left{
    display: flex;
  }
  .item{
    padding: 0 20px;
  }
  .right{
    display: flex;
  }
}
.branch{
  display: flex;
  flex-wrap: wrap;
  .item{
    width: 16%;
    margin: 20px 0 20px 0.66%;
  }
  .name{
    text-align: center;
  }
  .foot{
    padding: 0 10px;
    text-align: center;
    .rating{
      font-size: 14px;
      li{
        cursor: default;
        margin-bottom: 5px;
      }
    }
  }
}
.footer{
  text-align: right;
}