@import "../../themes";

.product_list{
  .table_header{
    background: $theme-color;
    display: flex;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
  }
  .table_col_info{
    width: 460px;
    padding-left: 10px;
  }
  .table_col_spec{
    width: 160px;
    text-align: center;
  }
  .table_col_num{
    width: 120px;
    text-align: center;
  }
  .table_col_price{
    width: 120px;
    text-align: center;
  }
  .table_col_sum{
    width: 130px;
    text-align: center;
  }
  .table_body_item{
    display: flex;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
  %table_body_td{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table_product{
    display: flex;
    padding: 10px;
    border-right: 1px solid $border-color;
    img{
      border: 1px solid $border-color;
      flex-shrink: 0;
      width: 100px;
      height: 100px;
    }
    .info{
        padding-left: 10px;
        height: 100px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        width: 100%;
        .name{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        text-overflow: ellipsis;
        height: 20px;
        }
    }
  }
  .table_spec{
    @extend %table_body_td;
    border-right: 1px solid $border-color;
    flex-direction: column;
  }
  .table_price{  
    @extend %table_body_td;       
    color: $color-red;
    font-weight: bold;
    border-right: 1px solid $border-color;
  }
  .table_sum{
    @extend %table_body_td;
    color:$color-red ;
    font-weight: bold;
  }
}
.quotation_pdf{
  background: white;
  padding: 0 36px;
  font-size: 14px;
  .title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom:1px solid $theme-color;

    .logo{
        height: 72px;
        width: 120px;
        margin-bottom: 10px;
    }
  .title_item{
    padding-bottom: 10px;
    text-align: right;
  }
}
.infomation{
  display: flex;
  margin-top: 10px;
  background:$theme-color;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;

}
.right{
  padding-left: 20px;
  width: 50%;
}
.left{
  padding-left: 20px;
  width: 50%;
  border-right: 1px solid $border-color;
  padding-bottom: 10px;
}
.info_write{
  display: flex;
  border: 1px solid $border-color;
  border-top:none;
  margin-bottom: 20px;

}
.item{
  display: flex;
  padding-top: 10px;
  .info_title{
    margin: auto 5px auto 0px;
    flex-shrink: 0;
  }
}
.quotation_title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.quotation_info{
  padding-top: 10px;
}
.quotation_create{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.order_sum{
  padding-top:10px;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  .sum_item{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding:0px 10px 9px 0px;
  }
  .sum_right{
    width: 80px;
    margin-left: 10px;
    color:$color-red ;
    font-weight: bold;
  }
  .sum_right_num{
    width: 80px;
    margin-left: 10px;

  }
  input{
    margin-top: -5px;
  }
}
}
.quo_footer{
    display: flex;
    justify-content: space-between;
    .quo_footer_right{
      margin: auto 0;
      img{
        width: 200px;
      }
    }
    .quo_left{
      margin: auto 0;
    }
}
.pdf_sperator{
  border-bottom: 1px solid $border-color;
}