@import "../../themes";
.body{
	background: white;
	padding: 0 5%;
	font-size: 14px;
}
.table_product{
	display: flex;
	img{
		border: 1px solid $border-color;
		flex-shrink: 0;
		width: 50px;
		height: 50px;
	}
	.info{
	  font-size: 8px;
      padding-left: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      .name{
      	overflow: hidden;
    	display: -webkit-box;
    	-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
   	 	word-break: break-all;
      }
	}
}
.table_col{
	text-align: center !important;
	font-size: 14px;
}
.table_num{
	margin: 10px;
}
.title{
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid $theme-color;
	.logo{
		padding-bottom: 10px;
	}
	.title_item{
		padding: 5px 0;
		text-align: right;
	}
}
.infomation{
	display: flex;
    margin-top: 10px;
    background: $color-grey;
    font-size: 16px;
    font-weight: bold;
    
}
.right{
	padding: 20px;
	width: 50%;
}
.left{
	padding: 20px;
	width: 50%;
	border-right: 1px solid $border-color;
}
.info_write{
	display: flex;
	border: 1px solid $border-color;
	margin-bottom: 10px;
}
.item{
	display: flex;
	padding: 10px 0;
	.info_title{
		width: 100px;
		text-align: right;
		margin: auto 10px auto 0px;
		flex-shrink: 0;
	}
}
.quotation_title{
	font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.quotation_info{
	padding-top: 5px;
}
.quotation_create{
	display: flex;
	justify-content: space-between;
    padding-top: 5px;
}
.order_sum{
	padding:10px;
	border: 1px solid $border-color;
	.sum_item{
		text-align: right;
		display: flex;
		justify-content: flex-end;
		padding: 5px 0;
	}
	.sum_right{
		width: 50px;
		margin-left: 10px;
	}
	input{
		margin-top: -5px;
	}
}
