.input1{
  width:100%;
}
.button2{
  width:20%;
}
.heads{
  text-align: center;
}
.savebutton{
  text-align: center;
}
.selects{
  margin-left: 5px;
}
.selectsbutton{
  margin-left: 5px;
  background-color:#00d6b2;
}