@import '../../themes.scss';

.my_consulting{
  padding-left: 20px;

  .title{

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;

    .title_left{
      font-size: 20px;
      font-weight: bold;
       color:$color-deep-grey ;

     }
    .title_right{
      font-size: 14px;

      color:$theme-color ;

    }
  }
  .consulting_content{
      border-top:1px solid #ddd;
      border-left:1px solid #ddd;
      border-right:1px solid #ddd;


      .consulting_list{
        width: 100%;
        border-bottom:1px solid #ddd;
        padding-left: 10px;
        padding-right: 5px;
      .item_question{
        width: 100%;
       display: flex;
       justify-content: space-between;
        padding-top: 20px;

        align-items:baseline;
        align-items:flex-start;

      .icon{
        width: 5%;
        padding-left: 10px;
        font-size: 30px;
        font-weight: 400;
        .question{
          color:$color-orange;

        }

        .answer{
          color: $button-green;
        }
        }
        .text{
          width: 70%;
          padding-right: 10px;
          word-break: normal;
          font-size: 16px;
          font-weight:400;
          color:$font-color;
        }
        .spacing{
          width: 15%;

        }
        .date{
          width: 10%;
          font-size: 12px;
          color: $font-color;
          padding-righgt: 10px;
          display: flex;

          .year{
            padding-right: 5px;
          }
        }
        }
       .item_answer{
         width: 100%;
         display: flex;
         justify-content: space-between;
         padding-top: 15px;
         padding-bottom: 20px;
         align-items:center;
         .icon{
           width: 5%;
           padding-left: 10px;
           font-size: 30px;
           font-weight: 400;
           .question{
             color:$color-orange;

           }

           .answer{
             color: $button-green;
           }
         }
         .text{
           width: 75%;
           padding-right: 10px;
           word-break: normal;
           font-size: 16px;
           font-weight:400;
           color:$font-color;
         }
         .spacing{
           width: 15%;

         }
         .date{
           width: 10%;
           font-size: 12px;
           color: $font-color;
           padding-righgt:10px;
           display: flex;

           .year{
             padding-right: 5px;
           }

         }

       }
      }
    .one{
      padding: 10px;
      border-bottom: 1px solid $border-color;
      .item{
        display: flex;
        align-content: flex-start;
        padding: 10px;
        .icon{
          color: $color-orange;
          font-size: 30px;
          margin-top: -3px;

        }
        .icon_a{
          background: $color-green;
          color: white;
          border-radius: 50%;
          width: 30px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          font-size: 24px;
        }
        .time{
          flex-shrink: 0;

          width: 25%;
          text-align: right;
        }
        .content{
          margin: 0 15px;
          width: 70%;
          padding-right: 10px;
          word-break: normal;
          font-size: 16px;
          font-weight: 400;
          color: #636363;
          align-items: center;
        }

      }
    }
    }
  .message_Pagination{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    .empty_message{
      color: $theme-color;
      font-weight: 500;

    }
  }
}
