@import "./themes";
.index{
  height: 100%;
}
.head{
  display: flex;
  justify-content: flex-end;
  padding: 30px 10%;
  background: $theme-color;
 .item{
   margin: auto 10px;
   color: #ffffff;
 }
  .language{
    margin: auto 10px;
  }
}
.header{
  display: flex;
  padding: 10px 10% 5px 10%;
  .left{
    display: flex;
    flex-grow: 1;
  }
  .title{
    margin: 10px 20px;
    font-size: 16px;
  }
  .right{
    margin: auto 0;
    button{
      margin-left: 10px;
    }
  }
}
.body{
  min-height: 600px;
  overflow: auto;
}

.foot_first{
  display: flex;
  padding: 20px 10%;
  .item{
    flex-grow: 1;
    text-align: center;
    img{
      width: 80px;
      height: 80px;
    }
  }
}
.foot{
  padding: 30px 10%;
  background: $theme-color;
  display: flex;
  .item{
    flex-grow: 1;
  }
  .title{
    font-size: 16px;
    color: #ffffff;
  }
  .info{
    font-size: 14px;
    color: #e6e6e6;
  }
}
.bottom{
  text-align: center;
  color: #ffffff;
  background: #0D3349;
  font-size: 14px;
  padding: 10px;
}

