@import "./themes";
.index{
  height: 100%;
  font-size: 14px;
}
.head{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  height: 40px;
 .item{
   margin-left: 35px;
   color: #ffffff;
   cursor: pointer;
 }
  .item2{
    margin-right: 35px;
    color: #ffffff;
    float: left;
    cursor: pointer;
  }
  .item1{
    margin-right: 0px;
    color: #ffffff;
    float: left;
  }
  .modalcontent{
    text-align: center;
  }
  .language{
    font-size: 14px;
    div[class="ant-select-selection
            ant-select-selection--single"]{
        border: none !important;
        color: white;
        border-radius: 0;
        background: transparent;
    }
  }
}

.seat{
  height: 114px;
}
.body{
  min-height: 600px;
  width: 1100px;
  padding-top: 130px;
  background: white;
  margin: 0 auto;
}
.footer_first{
  background: $theme-color;
}
.foot{
  padding: 38px 0px;
  margin: 0px auto;
  display: flex;
  width: 1100px;
  .item{
    flex-grow: 1;
    padding-left: 50px;
    width: 25%;
    flex-shrink: 0;
  }
  .title{
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 10px
  }
  .info{
    font-size: 14px;
    color: #e6e6e6;
    padding: 5px 0px;
  }
}
.bottom{
  text-align: center;
  color: #ffffff;
  background: #122337;
  font-size: 14px;
  padding: 10px;
}
.navigate{
  padding: 10px 0;
  color: $theme-color;
  span{
    color: $theme-color;
    font-size: 16px;
    font-weight: normal;
  }
}
.logo{
  padding: 20px;
  color: $theme-color;
  font-weight: 400;
}
.custom_icon{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
}
.fixed_title{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    background: #122337;
}
%button{
    padding: 10px 20px;
    color: white;
    border-radius: 2px !important;
    display: inline-block;
    cursor: pointer;
}
.button_theme{
    background-color: $button-blue !important;
    border-color: $button-blue !important;
  border-radius: 2px !important;
    @extend %button;
}
.quit_modal{
   padding: 10px;
}
.quit_button{
  padding: 10px;
  text-align: center;
  button{
    margin: 0px 10px;
  }
}
.button_theme:hover{
  background-color: $button-blue-active !important;
    border-color: $button-blue-active !important;
    @extend %button;
}
.button_green{
    @extend %button;
    background-color: $button-green !important;
    border-color: $button-green !important;
}
.button_green:hover{
    background-color: $button-green-active !important;
    border-color: $button-green-active !important;
}
.button_orange{
    @extend %button;
    background-color: $button-orange !important;
    border-color: $button-orange !important;
}
.button_orange:hover{
    background-color: $button-orange-active !important;
    border-color: $button-orange-active !important;
}