@import '../../themes.scss';
.table_col{
  text-align: center !important;
  font-size: 16px;
  .table_address{
    display: flex;
    .address_detail{
      text-align: start;
    }
    .delivery{
      background:$color-green;
      height: 20px !important;
      border: none;
      margin-left: 10px;
      border-radius: 2px;
      color: #ffffff;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
    }

  }
  .table_operation{
    display: flex;
    justify-content: center;
    line-height: 24px;
    height: 24px;
    .modify{
      font-size: 24px;
      display: block;
      padding-right:20px;


    }
    .delete{
      display: block;
      font-size: 18px;
      line-height: 24px;
      height: 24px;
    }
    .modify:hover{
      color: $color-orange;
    }

  }

}
.delivery_new{
  padding-top: 20px;
  text-align: right;
  .button_theme{

    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.cancel{
  background-color: $button-green;
  border-color: $button-green;
  margin-right: 20px;
  border-radius: 2px;
  width:120px;
}
.cancel:hover{
  background-color: $button-green-active;
  border-color: $button-green-active;
}
.submit{
    width:120px;
    border-radius: 2px ;
    background-color:$button-blue;
}
.submit:hover{
    width:120px;
    border-radius: 2px ;
    background-color:$button-blue-active;
}
.address_modal{
  width: 660px!important;
}
.modify_address{
    padding-top: 24px;
    .address_input{
      height: 36px;
      width: 400px;
      border-radius: 2px;

      input{
        border-radius: 2px !important;
        height: 36px;
      }

    }
    .address_input_tel{
      width: 300px !important;
      border-radius: 2px !important;
      height:36px;
      input{
        border-radius: 2px !important;
        height: 36px;

      }

    }
    .cancel{
      background-color: $button-green;
      border-color: $button-green;
      margin-right: 20px;
      border-radius: 2px;
      width:120px;
    }
    .cancel:hover{
      background-color: $button-green-active;
      border-color: $button-green-active;
    }
    .submit{
      width:120px;
      border-radius: 2px ;
      background-color:$button-blue;
    }
    .submit:hover{
      width:120px;
      border-radius: 2px ;
      background-color:$button-blue-active;
    }

}
.address_form{
  padding: 8px !important;

  .address_input{

            width: 400px;
            height: 36px;
            border-radius: 2px !important;

             input{
              border-radius: 2px !important;
              height: 36px;
             }
          
  }
  .address_input_tel{
    width: 300px !important;
    border-radius: 2px !important;
    height:36px;
    input{
      border-radius: 2px !important;
      height: 36px;

    }

  }
  .address_checkbox{
    height: 20px !important;

  }
}