@import "../../themes";
.navigate{
  span{
    color: $theme-color;
    font-size: 18px;
  }
}
.category{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  .category_item{
    width: 300px;
    background: $color-grey;
    margin-bottom: 40px;
    padding-bottom: 18px;
  }
  .title{
    height: 140px;
    color: white;
    text-align: center;
    padding: 60px;
    font-size: 20px;
    font-weight: bolder;
    background-repeat: round !important;
    margin-bottom: 18px;
  }
  .item{
    margin: 0px 0px 18px 20px;
    height: 14px;
    line-height: 14px;
    a{
      color: $font-color;
      font-size: 14px;
    }
    a:hover{
      color: $theme-color;
      text-decoration: underline;
    }
  }
}
    
 