@import "../../themes";
.header{
	padding: 100px;
    color: white;
    background-repeat: round !important;
}
.title{
	text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}
.descrip{
	text-align: center;
    margin: 0 40%;
    font-size: 14px;
}
.form{
	margin-top: 65px;
  .clink_here{
    color: $color-blue;
    text-decoration:underline;
    font-style:italic;
    font-weight: bold;
    cursor: pointer;
  }
  .want_input{
    width: 400px !important;
    height: 36px !important;
   border-radius: 2px !important;
    input{ height: 36px !important;
      border-radius: 2px !important;

    }

  }
}