@import '../../themes.scss';
.body{
  padding-top: 40px;
  width: 1100px;
  margin: auto;
}
.title{
  display: flex;
  color: $theme-color;
  height: 80px;
  padding: 10px 0;
  align-items: baseline;
  .logo{
    font-size: 40px;
    font-weight: bold;
    color: $theme-color;
  }
  .title_text{
    font-size: 20px;
    border: bold;
    color: $theme-color;
    margin-left: 20px;
  }
}
.form{
  border: 1px solid $border-color;
  padding: 40px 0;
}
.footer{
      margin: 0 33.3%;
    text-align: right;
    a{
      color: $theme-color;
    }
}
.reqister_input{
  width: 400px !important;
  height:36px ;
  border-radius: 2px;
}
.reqister_Button{
  background: $button-blue;
  width: 120px;
  border-radius: 2px;
}
.reqister_Button:hover{
  background: $button-blue-active;
  width: 120px;
  border-radius: 2px;

}
.reqister_radio_one{
   border-radius: 2px 0 0 2px !important;
 }
.reqister_radio_two{
  border-radius: 2px 0 0 2px  !important;
}