@import '../../themes.scss';
.body{
  padding-top: 40px;
  min-height: 600px;
  margin: 0 10%;
}
.title{
  display: flex;
  color: $theme-color;
  height: 80px;
  padding: 10px 0;
  align-items: baseline;
  .logo{
    font-size: 40px;
    font-weight: bold;
  }
  .title_text{
    font-size: 20px;
    border: bold;
    color: $theme-color;
    margin-left: 20px;
  }
}
.form{
  border: 1px solid $border-color;
  padding: 40px 0;
}
.footer{
      margin: 0 33.3%;
    text-align: right;
    a{
      color: $theme-color;
    }
}