@import '../../themes.scss';
.button{
  font-size: 14px;
}
.card_container{
  border: 1px solid $border-color;
  div[class="ant-tabs-nav-container"]{
    height: inherit!important;
  }
  div[class="ant-tabs-bar"]{
    background: $color-light-blue;
  }
  div[class=" ant-tabs-tab"]{
    border: none!important;
    padding: 10px 20px !important;
    color: $font-color !important;
    background: $color-light-blue !important;
  }
  div[class="ant-tabs-tab-active ant-tabs-tab"]{
    border-radius: 0 !important;
      border-top: 3px solid $theme-color !important;
      color: $font-color !important;
      padding: 10px 20px 12px !important;
  }
}

.table_product{
    display: flex;
    align-items: center;
    img{
        border: 1px solid $border-color;
        width:100px;
        height:100px;
    }
    .info{
        padding-left: 20px;
        .product_title{
            font-size: 16px;
            font-weight: 500;
        }
        .table_payment{
            display: flex;
            padding-top: 10px;
            line-height: 30px;

            .payment_text{
                padding-left: 5px;
                font-size: 14px;
                color:$color-red;
                font-weight: 500;

            }
        }
    }
}
.table_price{

  color: $color-red;
  font-size: 18px;
  font-weight: 700;

}
.table_time{

  font-size: 14px;
  color:$border-color;
}
.table_operation{
  font-size: 18px;
  .operation_text{
    display: block;
    color: $theme-color;
    padding-bottom: 5px;
    font-weight: 500;
  }
}
.table_col{
  text-align: center !important;
  font-size: 14px;
}

.Pagination{
  padding-top:20px;
  display: flex;
  justify-content: flex-end;
}