@import "../../themes";
.product_name{
	font-size: 18px;
	font-weight: bold;
    margin-bottom: 20px;
}
.product_imgs{
    img{
        width: 160px;
        height: 160px;
        border: 1px solid $border-color;
        margin: 10px 5px;
    }
}

.process{
	width:100px;
	height: 18px;
	line-height: 18px;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	
	background-color: $color-red;
	border-radius: 2px;
	color: #ffffff;

}
.selling{
    width:100px;
    height: 18px;
    line-height: 18px;
    display: block;
    text-align: center;
    margin-bottom: 20px; 
    background-color: $color-blue;
    border-radius: 2px;
    color: #ffffff;
}
.unsold{
    width:100px;
    height: 18px;
    line-height: 18px;
    display: block;
    text-align: center;
    margin-bottom: 20px; 
    background-color: $color-orange;
    border-radius: 2px;
    color: #ffffff;

}
.title_bg{

	height: 36px;
    background-color: #ffc70d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
   .edit_greybg{
    width: 60px;
        height: 36px;
        background-color: $border-color;
        color: #ffffff;
      
        line-height: 36px;
        text-align: center;
   }
    .edit_bg{
    	width: 60px;
    	height: 36px;
    	background-color: $bar-color;
    	color: #ffffff;
    	cursor: pointer;
    	line-height: 36px;
    	text-align: center;
    }
}
.mainfigure{	
	padding:10px;
	display: flex;

	.main_img{
	width: 160px;
	height: 160px;
	margin-right: 10px;	
 	border:1px solid $border-color;
	img{
	width: 160px;
	height: 160px;
	}
	}
}
.detail_descrip{
    background-color: $item-color;
    padding:10px;
    margin-bottom: 20px;
    overflow: auto;
    height: 500px;
}
.detail_table{
	background-color: $item-color;
	padding:10px;
	margin-bottom: 20px;

	.table_top{
    	border: none;
        height: 1px;   
        display: block;
        border-bottom: 1px solid $border-color;
	}
	.table_only_row{
		 padding-left: 30px;
		 border-bottom: 1px solid $border-color;
    	 border-left: 1px solid $border-color;
    	 border-right: 1px solid $border-color;
    	 height: 27px;
    	line-height: 27px;
	}
	.table_row{
		display: flex;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
    .table_left{
    	width: 420px;
    	line-height: 27px;
    	border-right: 1px solid $border-color;
    	padding-right: 250px; 
        text-align: right;
    }
     .table_right{
     	width: 420px;
    	padding-left: 30px;
	}
	.table_left_5{
    	width: 420px;
    	padding-left: 30px;
    	border-right: 1px solid $border-color;	   
 	    display: flex;
        line-height: 27px;
 	    .specifucation_name{
 	    	padding-right: 20px;
 	    }
    }
     .table_right_5{
     	width: 420px;
    	padding-left: 30px;
    	 display: flex;
    	  .specifucation_name{

 	    	padding-right: 20px;
 	    }
	}
	.table_middle{
		width: 210px;
    	padding-left: 30px;
    	border-right: 1px solid $border-color;
	}
	.table_m_right{
		width: 210px;
  	   padding-left: 30px;
	}
    .table_left_2{
    	width: 200px;
    	padding-left: 30px;
    	border-right: 1px solid $border-color;
    	text-align: right;
        padding-right: 60px;
        line-height: 27px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
     .table_right_2{
     	width: 640px;
     	padding-left: 30px;
        margin: auto;

 	  }
	}
    .table_bottom{
        display: flex;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        align-items: center;
        .table_left{
            flex-grow: 1;
            text-align: right;
            line-height: 27px;
        }
        .table_right{
            width: 670px;
        }
    }
}
.no_data{
    text-align: center;
    padding: 40px 0;
}
.info_title{
    background: #00bcdb;
    color: white;
    padding-left: 47px;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
}