@import "../../themes";

.qutation{

    .qutation_title{
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
    }
      font-size: 12px !important;
  tbody[class="ant-table-tbody"]{
       font-size: 12px !important;
}
  thead[class="ant-table-thead"]{
   }

  td[class="Quotation__table_col___wsg4k"]{
      font-size: 12px;
}
  th{
      background:$back-ground-shallow-grey !important;
      color: $font-color !important;
 }
  td{
       padding: 20px 20px !important;
}
.table_product{
  display: flex;
  img{
    border: 1px solid $border-color;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
  }
  .info{
      padding-left: 10px;
      height: 100px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      .name{
        overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
      height: 18px;
      }
  }
}
.table_col{
	text-align: center !important;
	font-size: 14px;
}
.table_num{

}
.order_sum{
	padding: 20px 10px;
	background: $back-ground-shallow-grey;
    height: 150px;
  font-size:12px ;
	.sum_item{
		text-align: right;
		display: flex;
		justify-content: flex-end;
		padding-bottom: 10px;
	}
	.sum_right{
		width: 150px;
		margin-left: 10px;

	}
  .sum_price{
    width: 150px;
    margin-left: 10px;
    color: $color-red;
  }
  .sum_profit{
    width: 150px;
    margin-left: 10px;
    color: $color-green;
  }
	input{
		  margin-top: -6px;
      width: 110px;
      border-radius: 0px;
      height: 36px;
	}
}
.infomation{
	display: flex;
    margin-top: 20px;
    background: $back-ground-shallow-grey;
    font-size: 14px;
    font-weight: bold;
    height:36px;
  border-top: 1px solid #e5e5e5;
}
.right{
  line-height: 36px;
  padding-left:20px;
	width: 50%;
}
.left{
	line-height: 36px;
  padding-left:20px;
	width: 50%;
	border-right: 1px solid $border-color;
}
.info_write{
  font-size:12px ;
	display: flex;
	border: 1px solid $border-color;
  border-top: none;
	margin-bottom: 10px;
  font-size: 12px !important;

}
.item{
  font-size:12px ;
	display: flex;
	padding-bottom:20px ;
  textarea[class="ant-input"]{
    height:60px;
    border-radius: 0px;
  }
  label[class="ant-checkbox-wrapper"]{
    margin-right: 32px;
    font-size: 12px !important;
  }
	.title{
		width: 103px;
		text-align: right;
		margin: auto 10px auto 0px;
		flex-shrink: 0;

	}
	input{
		width: 300px;
      border-radius: 0px;
       height: 36px;
	}
}
.item_one{
  font-size:12px ;
  display: flex;
  padding-top:20px ;
  padding-bottom:20px ;
  .title{
    width: 103px;
    text-align: right;
    margin: auto 10px auto 0px;
    flex-shrink: 0;
  }
  input{
    width: 300px;
    border-radius: 0px;
  }
}
.padd_20{
  font-size:12px ;
	padding: 10px 20px;
  label[class="ant-radio-wrapper ant-radio-wrapper-checked"]{
      padding-right: 32px;
    font-size: 12px;
    }
  label[class="ant-radio-wrapper"]{
    padding-right: 32px;
    font-size: 12px;
  }
}
.padd_20_w{
  font-size:12px ;
	padding: 10px 20px;

  label[class="ant-radio-wrapper ant-radio-wrapper-checked"]{
     padding-right: 32px;
    font-size: 12px;
   }
  label[class="ant-radio-wrapper"]{
    padding-right: 32px;
    font-size: 12px;
  }
}
.remark{
  font-size:12px ;
  padding: 10px 0px 20px 0px;
	.title{
		margin: 0px 10px 0px 20px;
	}
}
.valid_date{
  font-size:12px ;
	display: flex;
	padding: 10px 20px;
	.title{
		width: 103px;
    	text-align: right;
    	margin: auto 10px auto 0px;
    	flex-shrink: 0;
	}
  input{
    border-radius: 0px;
  }
}
.export{
  font-size:12px ;
	border: 1px solid $border-color;
	padding: 20px;
  label[class="ant-steps-title"]{
    margin-right: 32px;
    font-size: 12px;
  }
}
.footer{
	text-align: right;
	margin-top: 20px;
  font-size:12px ;
	p{
		margin-left: 10px;
	}

}
}