@import "../../themes";
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  background: $color-grey;
  .left{
    display: flex;
  }
  .item{
    padding: 0 20px;
    cursor: pointer;
  }
  .item_active{
    @extend .item;
    color: $theme-color;
    text-decoration: underline;
  }
  .right{
    display: flex;
  }
}
.product_list{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}
.product{
   width: 22%;
   margin: 10px 3% 10px 0;  
}
.footer{
  text-align: right;
  margin-top: 20px;
}
.product_no{
  text-align: center;
  margin: 40px;
}