@import "../../themes";
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  background: $color-grey;
  .left{
    display: flex;
  }
  .item{
    padding: 0 20px;
  }
}
