@import "../../themes";
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  background: $color-grey;
  .left{
    display: flex;
  }
  .item{
    padding: 0 20px;
  }
  .right{
    display: flex;
  }
}
.product_list{
  display: flex;
  flex-wrap: wrap;
}
.product{
   width: 22%;
   margin: 10px 3% 10px 0;  
}
.footer{
  text-align: right;
}