@import '../../themes.scss';
.body{
	margin: 40px 0;
	background: white;
	padding: 20px 0;
}
.product_base{
	.upload{
		line-height: 28px;
	}
	.set_default{
		width: 96px;
		margin: 0 8px 8px 0;
	}
	.product_category_ps{
		margin-left: 275px;
    	margin-bottom: 10px;
    	font-size: 12px;
    	color: red;
	}
}
%item{
	display: flex;
	margin: 10px 0;
    font-size: 16px;
}
%left{
	width: 225px;
	text-align: right;
	margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
	input{
		width: 400px;
	}
}
.product_attr{
	margin-top: -20px;
}
.product_propery_list{
	border: 1px solid $border-color;
	margin-right: 20px;
    flex-grow: 1;
    max-width: 680px;
}
.categoty_attr_list{
	.category_attr_title{
		padding: 0 10px;
		line-height: 30px;
		height: 30px;
		font-weight: bold;
		background: $background-color;
	}
	.category_attr_body{
		line-height: 45px;
    	padding: 0px 10px;
	}
}
.category_attr{
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}
.product_attr_list{
	border-bottom: 20px solid $background-color;
}
.category_icon{
	text-align: center;
    background: $border-color;
    color: $font-color;
    height: 20px;
    .icon_show{
    	transform: rotate(-90deg);
    }
    .icon_show_no{
    	transform: rotate(90deg);
    }
}
.product_category{
	@extend %item;
}
.category_left{
	@extend %left;
	width: 200px;
}
.category_right{
	display: flex;
}
.product_attr_item{
	margin-right: 10px;
	display: flex;
	.product_attr_item_title{
		text-align: right;
	    margin-right: 10px;
	    display: flex;
	    align-items: center;
	}
	button{
		margin-left: 10px;
	}
	input{
		width: 270px;
	}
}
.product_custom{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.product_add_title{
	@extend %item;
	margin-top: 20px;
}

.product_footer{
	text-align: center;
	button{
		margin-right: 20px;
	}
}
.product_spec{
	padding: 20px 75px;
	.spec_item_title{
		background: $background-color;
		padding: 8px 20px;
		font-weight: bold;
	}
	.spec_item_body{
		padding: 20px;
		label{
			margin-right: 60px;
			line-height: 30px;
		}
	}
	.product_spec_select_title{
		display: flex;
    	background: $bar-color;
    	color: white;
    	height: 30px;
    	line-height: 30px;
	}
	%select_item{
    	flex-grow: 1;
    	text-align: center;
	}
	.product_spec_select_title_item{
		@extend %select_item;
	}
	.product_spec_select_body{
		display: flex;
		border-bottom: 1px solid $border-color; 
		border-left: 1px solid $border-color; 
		border-right: 1px solid $border-color; 
		background: $background-color;	
		input{
			height: 25px;
			margin: 5px 10%;
    		width: 80%;
    		text-align: center;
		}
	}
	.product_spec_select_body_item{
		border-right: 1px solid $border-color; 
		text-align: center;
		height: 36px;
    	line-height: 36px;
	}
	.product_spec_select_title_no{
		@extend %select_item;
		width: 200px;
		flex-grow: 0;
	}
	.product_spec_select_body_no{
		@extend .product_spec_select_title_no;
		height: 36px;
    	line-height: 36px;
    	span{
    		color:$color-blue;
    		cursor: pointer;
    	}
	}
}
.product_info_item{
	display: flex;
    align-items: center;
    margin: 10px 0;
    .info_item_left{
		width: 380px;
		margin-right: 10px;
		text-align: right;
		flex-shrink: 0;
    }
}
.product_info_upload{
	@extend .product_info_item;
	align-items: flex-start;
	margin:20px 0px 5px 0px;
	.info_upload{
		div[class="ant-upload-list-item ant-upload-list-item-done"]{
	        width: 150px;
	        height: 150px;
    	}
	    div[class="ant-upload ant-upload-select ant-upload-select-picture-card"]{
	      width: 150px;
	      height: 150px;
	    }
	    div[class="ant-upload-list-item ant-upload-list-item-uploading ant-upload-animate-inline-enter ant-upload-animate-inline-enter-active"]{
	      width: 150px;
	      height: 150px;
	    }
	    div[class="ant-upload-list-item ant-upload-list-item-error"]{
	    	width: 150px;
	      	height: 150px;
	    }
	    div[class="ant-upload-list-item ant-upload-list-item-uploading"]{
	      width: 150px;
	      height: 150px;
	    }
	}
}
.upload_icon{
	i{
	    font-size: 40px;
	    margin-top: 30px;
	    display: inline-flex;
	}
}
.product_descrip{
	.info_item_left{
		width: 380px;
		margin-right: 10px;
		text-align: right;
		margin-bottom: 10px;
    }
    .product_editor{
    	margin-left: 255px;
    	margin-bottom: 20px;
    	width: 600px;
    }
	button{
		min-width: 0px;
	}
}
.product_instruct{
	.instuct_item{
		display: flex;
	    margin: 20px 0;
	    align-items: center;
	    .instuctitem_left{
	    	width: 360px;
			margin-right: 10px;
			text-align: right;
			flex-shrink: 0;
	    }
	    .instuctitem_right{
	    	display: flex;
	    	.instuctitem_right_input{
	    		width: 270px;
	    		margin-right: 20px;
	    	}
	    	.left_item{
	    		display: flex;
	    		align-items: center;
	    	}
	    }
	}
}

.product_picture{
	.picture_title{
		display: flex;
	    margin-bottom: 20px;
	    align-items: center;
	    .picture_title_left{
	    	width: 225px;
	    	text-align: right;
	    	margin-right: 10px;
	    	flex-shrink: 0;
	    }
	    .title_warn{
	    	color: $theme-color;
	    	padding-right: 10px;
	    }
	}
	.picture_body{
		margin-left: 235px;
    	display: flex;
    	margin-bottom: 20px;
    	.picture_body_item{
			margin-right: 20px;
    	}
    	.picture_img{
    		width: 102px;
    		height: 102px;
    		background: $border-color;
    		border: 1px solid $border-color;
    		img{
    			width: 100px;
    			height: 100px;
    		}
    	}
    	.picture_delete{
    		position: relative;
		    top: -105px;
		    background: rgba(46,43,46,0.6);
		    width: 100px;
		    height: 100px;
		    line-height: 100px;
		    text-align: center;
		    font-size: 26px;
		    color: white;
		    cursor: pointer;
    	}
    	label{
    		width: 112px;
    	}
    }
}
.product_info{
	margin-top: 20px;
}

.product_transport{
	.product_transport_item{
		display: flex;
		margin: 10px;
	}
	.product_transport_item_left{
		width: 360px;
    	margin-right: 10px;
    	text-align: right;
	}
}
