@import '../../themes.scss';
.body{
	margin: 40px 0;
	background: white;
	padding: 20px 0;
}
.product_base{
	.upload{
		line-height: 28px;
	}
	.set_default{
		width: 96px;
		margin: 0 8px 8px 0;
	}
}
%item{
	display: flex;
	margin: 15px 0;
    font-size: 16px;
}
%left{
	width: 225px;
	text-align: right;
	margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
	input{
		width: 400px;
	}
}
.product_attr{
	margin: 10px 0;
}
.categoty_attr_list{
	width: 680px;
	border: 1px solid $border-color;
	.category_attr_title{
		padding: 0 10px;
		line-height: 30px;
		height: 30px;
		font-weight: bold;
		background: $background-color;
	}
	.category_attr_body{
		line-height: 45px;
    	padding: 0px 10px;
	}
}
.category_attr{
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}
.product_attr_list{
	margin-bottom: 20px;
}
.category_icon{
	text-align: center;
    background: $border-color;
    color: $font-color;
    height: 20px;
    .icon_show{
    	transform: rotate(-90deg);
    }
    .icon_show_no{
    	transform: rotate(90deg);
    }
}
.product_category{
	@extend %item;
}
.category_left{
	@extend %left;
}
.category_right{
	display: flex;
}
.product_attr_item{
	margin-right: 10px;
	display: flex;
	.product_attr_item_title{
		text-align: right;
	    margin-right: 10px;
	    display: flex;
	    align-items: center;
	}
	button{
		margin-left: 10px;
	}
	input{
		width: 270px;
	}
}
.product_custom{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.product_add_title{
	@extend %item;
}

.product_footer{
	text-align: center;
	button{
		margin-right: 20px;
	}
}
.product_spec{
	margin: 10px 10%;
	.product_apec_item{
		display: flex;
		margin-bottom: 10px;
	}
	.apec_item_left{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-right: 20px;
	}
	.spec_item_right{
		display: flex;
	}
	.right_item{
		margin-right: 10px;
	}
}
.product_info_item{
	display: flex;
    align-items: center;
    margin: 10px 0;
    .info_item_left{
		width: 15%;
		margin-right: 2%;
		text-align: right;
		flex-shrink: 0;
    }
}
.product_descrip{
	align-items: baseline;
	margin-bottom: 20px;
}
.product_instruct{
	margin: 0px 20%;
}
.instuct_item{
	display: flex;
    margin: 10px 0;
    align-items: center;
    .instuctitem_left{
    	width: 15%;
		margin-right: 2%;
		text-align: right;
		flex-shrink: 0;
    }
    .instuctitem_right{
    	display: flex;
    	input{
    		margin-right: 20px;
    	}
    	.left_item{
    		display: flex;
    		align-items: center;
    	}
    	
    }
}
.product_picture{
	.picture_title{
		display: flex;
	    margin-bottom: 20px;
	    align-items: center;
	    .picture_title_left{
	    	width: 225px;
	    	text-align: right;
	    	margin-right: 10px;
	    }
	    .title_warn{
	    	color: $theme-color;
	    	padding-right: 10px;
	    }
	}
	.picture_body{
		margin-left: 235px;
    	display: flex;
    	margin-bottom: 20px;
    	.picture_body_item{
			margin-right: 20px;
    	}
    	.picture_img{
    		width: 102px;
    		height: 102px;
    		background: $border-color;
    		border: 1px solid $border-color;
    		img{
    			width: 100px;
    			height: 100px;
    		}
    	}
    	.picture_delete{
    		position: relative;
		    top: -105px;
		    background: rgba(46,43,46,0.6);
		    width: 100px;
		    height: 100px;
		    line-height: 100px;
		    text-align: center;
		    font-size: 26px;
		    color: white;
		    cursor: pointer;
    	}
    	label{
    		width: 112px;
    	}
    }
}
