@import '../../themes.scss';
.body{
	margin: 40px 0;
}
.product_base{
	.upload{
		line-height: 28px;
	}
	.set_default{
		width: 96px;
		margin: 0 8px 8px 0;
	}
}
%item{
	display: flex;
	margin: 15px 0;
    font-size: 16px;
}
%left{
	width: 33%;
	text-align: right;
	margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
	input{
		width: 60%;
	}
}
.product_attr{
	margin: 10px 10%;
}
.product_attr_list{
	border: 1px solid $border-color;
	margin-bottom: 20px;
}
.basic_category{
	span[class="ant-cascader-picker"]{
		width: 60%;
		margin-right: 20px;
	}
}
.category_icon{
	text-align: center;
    background: $color-light-blue;
    color: $font-color;
    .icon_show{
    	transform: rotate(-90deg);
    }
    .icon_show_no{
    	transform: rotate(90deg);
    }
}
.product_category{
	@extend %item;
}
.category_left{
	@extend %left;
}
.category_right{
	display: flex;
}
.product_attr_item{
	@extend %item;
	.attr_item_left{
		@extend %left;
	}
	.attr_item_right{
		display: flex;
	}
	button{
		margin-left: 10px;
	}
	input{
		width: 40%;
	}
}
.product_add_title{
	@extend %item;
	.add_left{
		@extend %left;
	}
}

.product_footer{
	margin-left: 35%;
	button{
		margin-right: 20px;
	}
}
.product_spec{
	margin: 10px 10%;
	.product_apec_item{
		display: flex;
		margin-bottom: 10px;
	}
	.apec_item_left{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-right: 20px;
	}
	.spec_item_right{
		display: flex;
	}
	.right_item{
		margin-right: 10px;
	}
}
.product_info_item{
	display: flex;
    align-items: center;
    margin: 10px 0;
    .info_item_left{
		width: 15%;
		margin-right: 2%;
		text-align: right;
		flex-shrink: 0;
    }
}
.product_descrip{
	align-items: baseline;
	margin-bottom: 20px;
}
.product_instruct{
	margin: 0px 20%;
}
.instuct_item{
	display: flex;
    margin: 10px 0;
    align-items: center;
    .instuctitem_left{
    	width: 15%;
		margin-right: 2%;
		text-align: right;
		flex-shrink: 0;
    }
    .instuctitem_right{
    	display: flex;
    	input{
    		margin-right: 20px;
    	}
    	.left_item{
    		display: flex;
    		align-items: center;
    	}
    	
    }
}
