@import "../../themes.scss";
.body{
  padding-top: 40px;
  width: 1100px;
  margin: auto;
  min-height: 600px;
}
.title{
  display: flex;
  color: $theme-color;
  height: 80px;
  padding: 10px 0;
  align-items: baseline;
  .logo{
    font-size: 40px;
    font-weight: bold;
    color: $theme-color;
    cursor: pointer;
  }
  .title_text{
    font-size: 20px;
    border: bold;
    color: $theme-color;
    margin-left: 20px;
  }
}
.content{
  padding: 40px 0;
  border:1px solid $border-color;
  text-align: center;
  .icon{
    color: $color-orange;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
    i{
      font-size: 45px;
      margin-right: 20px;
    }
  }
}
.footer{
  button{
    margin: 20px;

  }
}
/* .reqister_Button{
  background: $button-blue;
  width: 120px;
  border-radius: 2px;
}
.reqister_Button:hover{
  background: $button-blue-active;
  width: 120px;
  border-radius: 2px;

} */
