@import "../../../themes";
.body{
  display: flex;
  border: 1px solid $back-ground-grey;
  margin-bottom: 10px;
  .left{
    background: $theme-color;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    width: 110px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    cursor: default;
    font-weight: bold;
    p{
      margin: auto;
    }
  }
  .middle{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    max-height: 210px;
    overflow-y: auto;
  }
  .single{
    flex-shrink: 0;
    padding: 10px 30px 10px 20px;
  }
  .item{
    text-align: center;
    cursor: pointer;
  }
  .item:hover{
    text-decoration:underline;
    color: $theme-color
  }
  .active{
    @extend .item;
    text-decoration:underline;
    color: $theme-color
  }
  .item_img{
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border: 1px solid $color-grey;
    cursor: pointer;
  }
  .active_img{
    @extend .item_img;
    border: 2px solid $color-orange;
  }
  .item_img:hover{
    border: 2px solid $color-orange;
  }
  .right{
    margin: auto 20px;
    border-radius: 2px;
  }
}