@import "../../themes";
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  background: $color-grey;
  .left{
    display: flex;
  }
  .item{
    padding: 0 20px;
    cursor: pointer;
  }
  .item_active{
    @extend .item;
    color: $theme-color;
    text-decoration: underline;
  }
  .right{
    display: flex;
  }
}
.brand{
  display: flex;
  flex-wrap: wrap;
  .item{
    width: 16%;
    margin: 20px 0 20px 0.66%;
  }
}
.footer{
  text-align: right;
}
