@import '../../../themes.scss';
.body{
    display: flex;
    justify-content: space-between;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    .item{
    	flex-grow: 1;
    	background: $color-light-blue;
    	text-align: center;
    	padding: 10px 0;
    	border-bottom: 1px solid $border-color;
    	border-top: 1px solid $border-color;
        cursor: pointer;
        span[class="ant-badge"]{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .active{
    	@extend .item;
    	background: white;
    	border-bottom: none;
    	border-left: 1px solid $border-color;
    	border-right: 1px solid $border-color;
		border-top: 3px solid $theme-color;
    }
    .left_active{
        @extend .item;
        background: white;
        border-bottom: none;
        border-left: none;
        border-right: 1px solid $border-color;
        border-top: 3px solid $theme-color;
    }
    .right_active{
        @extend .item;
        background: white;
        border-bottom: none;
        border-left: 1px solid $border-color;
        border-right: none;
        border-top: 3px solid $theme-color;
    }
}