
@import "../../themes";

.photo_info{
  width:290px;
  height: 280px;
  padding: 10px;
  border: 1px solid $border-color;
  .photo_text{
    line-height: 20px;
    height: 20px;}
  .example_photo{
    width:270px;
  height: 140px;
  margin-top: 10px;
   margin-bottom: 10px;
   background-color: $back-ground-shallow-grey;
   .example_img{ 
    width:270px !important;
  height: 140px !important;

   }
  }
}
.main_title{
   background: $theme-color;
   font-weight: bold;
   padding: 10px 20px;
   color: $color-grey;

}
.basic_body{
  display: flex; 
  background-color: $item-color;
      margin-bottom: 20px;
      margin-top: 20px;
      padding-bottom: 20px;
  .basic_left{
    padding: 45px;
  }
  .basic_right{
    padding: 20px 45px 20px 45px;
    flex-grow: 1;
    border-left: 1px solid $border-color;
  }
}
.basic_upload{
  span[class="ant-avatar avatar ant-avatar-circle ant-avatar-image"]{
    width: 110px;
    height: 110px;
    background: white;
  }
  img{
    width: 110px;
    height: 110px;
    border: 1px solid $border-color;
    border-radius: 50%;
    cursor: pointer;
  }
}
.info{
    width: 100%;
    display: flex;

    font-size: 14px;
    color: $color-deep-grey;
    font-weight:400;
    align-items: center;
    padding-bottom: 20px;
    .title{
      display: block;
      width: 25%;
      text-align: right;
    }
    .text{
      display: block;
      text-align: left;
      padding-left: 10px;

      width: 73%; 
  }
}
.info_profile{
    width: 100%;
    display: flex;

    font-size: 14px;
    color: $color-deep-grey;
    font-weight:400;

    .title{
      display: block;
      width: 25%;
      text-align: right;
    }
    .text{
      display: block;
      text-align: left;
      padding-left: 10px;

      width: 73%; 
  }
}
.button_modifye{
 

}
.auth_body{
  padding: 20px 20px;
  background-color: $item-color;
}
.button_certification{
    background-color:$color-green;
    width: 120px;
    height: 40px;
    border: none;
    margin-left: 30px;
    margin-top: 5px;
}
.text_certification{
    color:$color-orange ;
    padding-left: 10px;
    height:50px;
    line-height: 50px;
}
.go_certification{
    color: $color-orange;
}
.credentials{
  height: 14px;
  line-height: 14px;
  margin-bottom: 20px;
}
.category_div{
  width:100%;
}
.category_info{
  display: flex;
  margin-bottom: 20px;

  .category_titile{
   display: block;
    width: 25%;
    text-align: right;
}
.category_text{
    margin-left: 7px;
  
}
}

.form_cascader{
  width: 400px !important;
}