@import "../../themes.scss";
.table_col{
  text-align: center !important;
  font-size: 14px;

}
.ant-dropdown-link{
color: $font-color !important;
  font-size: 14px;;
}
.time_text{

font-size: $border-color;
}
.table_operation {
  font-size: 18px;

.operation_text{
  display: block;
  font-weight: 500;
  color: $theme-color;
  i {
    font-size: 20px;
    color: #2e2b2e; }
}
}