@import '../../themes.scss';
.account_from{
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 30px;

  color: $border-color;
}
.phone_input{
	width: 230px !important;
	height: 36px !important;
}
.success{
	    display: flex;
    flex-direction: column;
    align-items: center;
     padding-bottom: 30px;
.success_info{
	display: flex; 
    align-items: center;
    font-size: 24px;
    color: $theme-color;
    justify-content: center;
    padding-top: 50px;
        padding-bottom: 40px;
.success_icon{
	font-size: 24px !important;
    font-weight: 500;	
    padding-right: 10px;

}
}
}