@import '../../themes.scss';
.body{
  padding-top: 40px;
  min-height: 600px;
  margin: 0 10%;
}
.title{
  display: flex;
  color: $theme-color;
  height: 80px;
  padding: 10px 0;
  align-items: baseline;
  .logo{
    font-size: 40px;
    font-weight: bold;
    color: $theme-color;
  }
  .title_text{
    font-size: 20px;
    border: bold;
    color: $theme-color;
    margin-left: 20px;
  }
}
.content{
    border: 1px solid $border-color;
    padding: 60px 0;
    margin: 20px 0 100px 0;
}
.steps{
  margin-bottom: 40px;
}
.reset_success{
  text-align: center;
  .suc_content{
    padding: 60px 0;
    color: $color-orange;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      font-size: 45px;
    }
  }
}
.password_input{
  width: 400px !important;
  height:36px ;
  border-radius: 2px;
}
.password_Button{
  background: $button-blue;
  width: 120px;
  border-radius: 2px;

}
.password_Button:hover{
  background: $button-blue-active;
  width: 120px;
  border-radius: 2px;


}
.code_Button{
  border-radius: 2px;
  height: 36px;
}
.Button_center{
  text-align: center;
}