@import '../../themes.scss';
.body{
  padding-top: 40px;
  min-height: 600px;
  margin: 0 10%;
}
.title{
  display: flex;
  color: $theme-color;
  height: 80px;
  padding: 10px 0;
  align-items: baseline;
  .logo{
    font-size: 40px;
    font-weight: bold;
    color: $theme-color;
  }
  .title_text{
    font-size: 20px;
    border: bold;
    color: $color-grey;
    margin-left: 0px;
    padding-top:20px;
  }
}
.content{
    padding: 60px 0;
    margin: 20px 0 100px 0;
    background-color: white;
}
.steps{
  margin-bottom: 40px;
}
.reset_success{
  text-align: center;
  .suc_content{
    padding: 20px 0;
    color: $theme-color;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      font-size: 30px;
    }
  }
}
.password_input{
  width: 400px !important;
  height:36px ;
  border-radius: 2px;
}
.password_Button{
  background: $button-blue;
  width: 175px;
  border-radius: 2px;
  border:0px;
  color:white;
}
.password_Button:hover{
  background: $button-blue-active;
  width: 175px;
  border-radius: 2px;
  border:0px;
  color:white;

}
.code_Button{
  border-radius: 2px;
  height: 36px;
}
.Button_center{

}
.resave_Button{
  background: $color-grey;
  margin-left: 15px;
  width: 120px;
  border-radius: 2px;
  border:0px;
  color:white;
}
.resave_Button:hover{
  background: $button-grey-active;
  width: 120px;
  border-radius: 2px;
  border:0px;
  color:white;
}
.reqister_Button{
  background: $color-red;
  width: 120px;
  border-radius: 2px;
}
.reqister_Button:hover{
  background: #fb8b11;
  width: 120px;
  border-radius: 2px;

}