@import "../../themes";
.title{
	color: $theme-color;
	border-bottom: 1px solid $border-color;
	font-size: 20px;
	padding-bottom: 10px;
}
.cart_title{
	border-bottom: 1px solid $border-color;
}
.steps{
	padding: 30px 10%;
}
.table_product{
	
}
.cart_list{
	th{
		border-right: none !important;
		padding: 14px 0px !important;
	}
    td[class="ant-table-selection-column"]{
      border-right: none !important;
      width: 35px !important;
      min-width: 35px !important;
    }
  th[class="ant-table-selection-column"]{
     width: 35px !important;
    min-width: 35px !important;

   }
 td{
   padding: 20px 0px 20px 0px !important;
 }

}
.table_num{
	margin: 0 20px;
}
.table_price{
	color: $color-red;
	font-weight: bold;
}
.table_col{
	text-align: center !important;
	font-size: 14px;
	a:hover{
		color: $font-color;
	}
}
.table_operator{
	font-size: 18px;
}
.footer{
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-top: 20px;
	background: $color-grey;
	label{
		display: flex;
    	align-items: center;
	}
}


  .modify_address{
    padding-top: 24px;
    .address_input{
      height: 36px;
      width: 400px;
      border-radius: 2px;

      input{
        border-radius: 2px !important;
        height: 36px;
      }

    }
    .address_input_tel{
      width: 340px !important;
      border-radius: 2px !important;
      height:36px;
      input{
        border-radius: 2px !important;
        height: 36px;

      }

    }
    .cancel{
      background-color: $button-green;
      border-color: $button-green;
      margin-right: 20px;
      border-radius: 2px;
      width:120px;
    }
    .cancel:hover{
      background-color: $button-green-active;
      border-color: $button-green-active;
    }
    .submit{
      width:120px;
      border-radius: 2px ;
      background-color:$button-blue;
    }
    .submit:hover{
      width:120px;
      border-radius: 2px ;
      background-color:$button-blue-active;
    }

  }


.left{
	margin-left: 10px;
	flex-grow: 1;
	display: flex;
    align-items: center;
	i{
		padding: 0 20px;
		margin-top: 3px;
	}
}
.right{
	display: flex;

}
.total{
	padding: 20px;
	background: $color-grey;

	.total_money{
		color: $color-red;
		font-weight: bolder;
	}
}
%button{
	padding: 20px 0;
	width: 150px;
	text-align: center;
    color: white;
    cursor: pointer;
}
.quotation{
	@extend %button;
    background: $color-green;
}
.quotation:hover{
	background: $button-green-active
}
.calculate{
	@extend %button;
    background: $theme-color;
}
.calculate:hover{
	background: $button-blue-active;
}
.confirm_title{
	font-size: 16px;
    font-weight: bold;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    p{
    	cursor: pointer;
    }
}
%confirm_body{
	border: 1px solid #eee;
    padding: 20px;
}
.confirm_address{
	@extend %confirm_body;
	.radio_content{
		display: flex;
    	justify-content: space-between;
    	margin-bottom: 10px;
	}
	.item{
		padding: 5px 20px;
		span{
			font-weight: bold;
		}
	}
	.item_default{
		padding: 4px 10px;
		background: $color-green;
		color: white;
		border-radius: 4px;
	}
}
.confirm_pay{
	@extend %confirm_body;
}
.confirm_mode{
	display: flex;

	.item{
		  padding: 10px 30px;
    	background: $back-ground-shallow-grey;
    	border-radius: 2px;
    	margin-right: 30px;
      cursor: pointer;

	}
	.active{
		@extend .item;
		border: 2px solid $theme-color;

	}
}
.confirm_mode_delivery{
  display: flex;
  .item{
    padding: 10px 30px;
    background: #ffffff;
    border-radius: 2px;
    margin-right: 30px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  .active{
    @extend .item;
    border: 2px solid $theme-color;
  }
}
.radio{
	padding: 10px 0;
}
.advance_pay{
	display: flex;
	flex-wrap: wrap;
	.item{
		padding: 10px 5px;
    	width: 40%;
    	border: 1px solid $color-grey;
    	margin: 10px;
      a{
       color: $color-red;
      }
	}
	.active{
		@extend .item;
		border: 2px solid $theme-color;
	}
}
.order_sum{
	background: $color-grey;
    padding: 10px;
    text-align: right;
    margin: 20px 0;
    p{
    	padding: 5px 0;
    	display: inline-block;
    	width: 100px;
    }
    .order_sum_orange{
		color: $color-red;
		font-size: 16px;
    }
}
.order_footer{
	display: flex;
	align-items: center;
    justify-content: space-between;
    .footer_right{
    	display: flex;
    	align-items: center;
    	button{
    		margin-left: 10px;
    		padding: 0px 20px;
    		height: 42px;
    	}
    	.button_green{
    		color: white;
    		background-color: $button-green ;
    		border-color: $button-green ;
		}
		.button_green:hover{
		    background-color: $button-green-active ;
		    border-color: $button-green-active ;
		}
    	.footer_orange{
    		color: $color-red;
    		font-size: 16px;
    	}
    }
}

.pay_mode{

	.pay_title{
		color: $color-orange;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.pay_info{
		text-align: center;
		font-size: 14px;
		padding: 15px 15px;

	}
	.pay_last{
		text-align: center;
		font-size: 14px;
		padding-top: 40px;

	}
	.payments{
		border: 1px solid $border-color;
		padding: 15px 16px 0px 16px;
		display: flex;
      width:840px;
      margin: auto;
      justify-content: space-between;

      .payments_left{
        display: flex;
        .item{
          margin-bottom: 20px;
          img{
            width: 80px;
            height: 80px;
            margin-right: 20px;
            border: 1px solid #eee;
          }
        }
      }
      .grand_total {
        font-size:18px;
        text-align: right;
        .total_text{
          font-size:24px;
          font-weight:700;
          color:$color-red ;
        }
      }
	}
}
.pay_footer{
	text-align: center;
	margin-top: 20px;
  padding-bottom: 160px;
  .button_before{
background:  $button-green;
    border: none;
   border-radius: 2px;
  width: 190px;
    height:50px;
    line-height:50px;
	}
.button_pay{
    margin: 20px;
    padding: 0px 30px;
  background: $button-blue;
  border: none;
  border-radius: 2px;
  width: 190px;
  height:50px;
  line-height:50px;
  }
  .button_before:hover{
    background-color: $button-green-active;

  }
  .button_pay:hover{
    background-color: $button-blue-active;

  }
.return_cart{
	background:  $button-green;

}
.return_order{
	background: $button-blue;
}
}
.pay_success{
  text-align: center;

  padding-bottom: 160px;
  .button_before{
    background:  $button-green;
    border: none;
    border-radius: 2px;
    width: 190px;
    height:50px;
    line-height:50px;
  }
  .button_pay{
    margin: 20px;
    padding: 0px 30px;
    background: $button-blue;
    border: none;
    border-radius: 2px;
    width: 190px;
    height:50px;
    line-height:50px;
  }
  .button_before:hover{
    background-color: $button-green-active;

  }
  .button_pay:hover{
    background-color: $button-blue-active;

  }
  .return_cart{
    background:  $button-green;

  }
  .return_order{
    background: $button-blue;
  }
}
.cancel{
	background-color: $button-green;
    border-color: $button-green;
    margin-right: 20px;
}
.cancel:hover{
	background-color: $button-green-active;
	border-color: $button-green-active;
}
.pointer{
  cursor: pointer;
}
.remark_test{
  height: 6px;
  border-radius: 2px;
}