@import "../../../themes.scss";

.login_form{
  padding: 0 18px 28px 18px;
  .title{
  	text-align: center;
    border-bottom: 1px solid $border-color;
  }
  .forgot {
    float: right;
    color: $theme-color;
    font-weight: bold;
  }
  .button {
    width: 100%;
    margin-top: 10px;
  }
}