@import "../../themes.scss";

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 80;
  min-width: 1366px;
  background: white;
  .header_content{
    display: flex;
    padding-top: 70px;
    width: 1366px;
    margin: 0 auto;
  }
  .left {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .logo{
      color: $theme-color;
      font-size: 40px;
      font-weight: bold;
  }
  .title {
    margin: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    a {
      color: $font-color;
    }
  }
  .active {
    @extend .title;
    color: $theme-color;
  }
  .right {
    margin: auto 0;
    button {
      margin-left: 10px;
      height: 42px;
      margin-top: -4px;
    }
  }
}
.cart_product {
  display: flex;
  align-items: center;
  padding: 10px;
}
.categorys_drop{
    position: fixed;
    z-index: 80;
    margin-top: 125px;
    width: 200px;
    margin-left: 10%;
    .drop_icon{
        text-align: right;
        padding-right: 30px;
        color: #2f5ea2;
        margin-bottom: -14px;
        font-size: 26px;
    }
    .drop_item{
      background: rgba(47,95,163,0.7);
      color: white;
      padding: 10px 20px;
      cursor: pointer;
    }
    .drop_item:hover{
      background: #122337;
    }

}

.foot_first {
  display: flex;
  padding: 50px 10%;
  .item {
    flex-grow: 1;
    text-align: center;
    .icon {
      font-size: 40px;
      color: $theme-color;
    }
    .text {
      font-size: 16px
    }
  }
}

.pup {
   margin-bottom: 70px;
}
.pdown {
   margin-top: 70px;
}
.price {
      float:left;
      color:orange;
   }
.del {
      float:right;
   }
.del {
      margin-left:"5px";
   }