@import "../../themes.scss";

.header {
  display: flex;
  padding: 70px 10% 0px 10%;
  position: fixed;
  width: 100%;
  z-index: 80;
  background: white;
  min-width: 1150px;
  .left {
    display: flex;
    flex-grow: 1;
  }
  .title {
    margin: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    a {
      color: $font-color;
    }
  }
  .title_category{
    background: $color-background;
    color: $theme-color;
    width: 200px;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    .category_menu_main{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 15px 10px;
    }
  }
  .active {
    @extend .title;
    color: $theme-color;
  }
  .right {
    margin: auto 0;
    input{
      border-width: 2px;
      border-radius: 20px;
    }
    button {
      margin-left: 10px;
      height: 36px;
      margin-top: -2px;
      border-radius: 20px;
    }
  }
}
.category_menu{
    background: rgba(0,0,0,0.5);
    li{
      color: white;
      padding: 10px;
    }
    li:hover{
      color: black;
      background: #ffc80c;
      opacity: 1;
    }
}
.cart_product {
  display: flex;
  align-items: center;
  padding: 10px;
}

.foot_first {
  display: flex;
  padding: 50px 10%;
  .item {
    flex-grow: 1;
    text-align: center;
    .icon {
      font-size: 40px;
      color: $theme-color;
    }
    .text {
      font-size: 16px
    }
  }
}
.modal_item{
    display: flex;
    align-items: center;
    margin: 10px 20px;
  span{
    flex-shrink: 0;
  }
}