@import "../../../themes";
.icon{
  display: flex;
  align-items: flex-start;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  .left_icon{
    flex-grow: 1;
    display: flex;
    i{
      margin-right: 5px;
      font-size: 18px;
    }
  }
}
.custom_image{
    img{
      width: 100%;
    }
}
.name{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: $font-color;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    line-height: 14px;
    margin-top: 15px;

}
.foot{
  text-align: center;
  color: #636363;
  font-size: 13px;
  line-height: 13px;
  height: 13px;
  margin-top: 12px;
  margin-bottom: 10px;
    .rating{
      font-size: 14px;
      margin-left: 2px;
      li{
        cursor: default;
        margin-bottom: 5px;
        margin-right: 2px;
        font-size: 8px !important;
        color: $border-color;
      }
    }
}
.icon_rz:before{
    content: "\e900";
    color: $color-grey;
}
.icon_rz_active:before{
  content: "\e900";
  color: $color-orange;
}
.icon_hz:before{
    content: "\e902";
    color: $color-grey;
}
.icon_hz_active:before{
  content: "\e902";
  color: $color-green;

}